<table class="table table-striped">
  <thead>
    <tr>
      <th>Naziv</th>
      <th>Trajanje</th>
      <th>Žanr</th>
      <th>IMDB</th>
      <th>Opcije</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of FilmList">
      <td>{{ dataItem.movie.title }}</td>
      <td>{{ dataItem.movie.released }}</td>
      <td>{{ dataItem.movie.genre }}</td>
      <td>{{ dataItem.movie.imdbRating }}</td>
      <td>
        <button type="button" class="btn btn-light mr-1">Uredi</button>
        <button type="button" class="btn btn-light mr-1">Obriši</button>
      </td>
    </tr>
  </tbody>
</table>
