<div class="discover">
  <div class="input-group mt-5 mb-4">
    <input
      type="text"
      class="form-control"
      placeholder="Search movies"
      aria-label="Search movies"
      aria-describedby="basic-addon2"
      [(ngModel)]="searchMovie"
    />
    <div class="input-group-append">
      <button class="btn btn-dark" (click)="omdbMovies()" type="button">
        Search
      </button>
    </div>
  </div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of Movies; let i = index">
        <td>{{ dohvatiRedniBroj(i) }}.</td>
        <td>{{ movie.Title }}</td>
        <td>{{ movie.Year }}</td>
        <td>
          <button class="btn btn-dark" (click)="open(mymodal, i)">+</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-around">
    <ul class="pagination">
      <button
        class="btn btn-dark mr-5"
        id="prevButton"
        [disabled]="isDisabledLeft"
        (click)="prevPage()"
      >
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-arrow-left"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
          />
        </svg>
      </button>

      <h4>
        <span class="left" [innerHTML]="currentPage"></span> /
        <span class="right" [innerHTML]="pages"></span>
      </h4>

      <button
        class="btn btn-dark ml-5"
        id="nextButton"
        [disabled]="isDisabledRight"
        (click)="nextPage()"
      >
        <svg
          width="1em"
          height="1em"
          viewBox="0 0 16 16"
          class="bi bi-arrow-right"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
          />
        </svg>
      </button>
    </ul>
  </div>

  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-4">
          <img src="{{ Movie.Poster }}" alt="poster" />
        </div>
        <div class="col-1"></div>
        <div class="col-7">
          <h3 class="modal-title" id="modal-basic-title">
            {{ Movie.Title }}
          </h3>
          <p>{{ Movie.Year }}</p>
          <p>{{ Movie.Runtime }}</p>
          <p>{{ Movie.Genre }}</p>
          <p>{{ Movie.imdbRating }} / 10</p>

          <p>{{ Movie.Plot }}</p>
          <input
            type="number"
            min="0"
            max="10"
            class="form-control w-25"
            [(ngModel)]="myrate"
            placeholder="0"
          />
          <button
            class="btn btn-success mt-4"
            (click)="addMovie(); modal.dismiss('Cross click')"
          >
            +
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
