html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.login_container {
  margin: 8% auto;
  width: 30%;
  background: lightgreen;
  padding: 2%;
  border-radius: 20px;
  border: 2px black solid;
}
